{% extends "base.html" %}
{% block content %}
  <div class="fullpage">
	<div class="section search">
	  <div class="container">
        <div class="jumbotron">
          <h1>Select a Gas Station</h1>
	      <input class="typeahead form-control" type="text" placeholder="Select a Gas Station">
	    </div>
	  </div>
	</div>
	<div class="section imprint">
	  <div class="container">
	    Imprint
	  </div>
	</div>
  </div>
{% endblock %}

{%block includes %}
  <script src="/static/index.js"></script>
  <link rel="stylesheet" href="/static/index.css" type="text/css" />
{% endblock %}
